<div class="message-content"
	 [ngClass]="{
		 'loading': status == 'Loading', 
		 'error': status == 'Error', 
		 'success': status == 'Success'
	 }" 
	 fxLayout="column" 
	 fxLayoutAlign="center center">

	<div *ngIf="status == 'Loading'" fxLayout="row" fxLayoutAlign="center center">
		<mat-spinner [diameter]="35"></mat-spinner>
	</div>

	<div *ngIf="status == 'Error'" fxLayout="row" fxLayoutAlign="center center">
		<p>{{errorMessage}}</p>
	</div>

	<div *ngIf="status == 'Success'" fxLayout="row" fxLayoutAlign="center center">
		<p>{{successMessage}}</p>
	</div>

</div>





