@import "src/@fuse/scss/fuse";

auth-message {
	
	.message-content {
		width: 220px;
		max-width: 220px;
		height: 42px;
		margin: 16px auto;
        display: block;

        @include media-breakpoint('xs') {
            width: 90%;
        }

        transform: translate3d(0,0,0);
    	transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
	}

	.success {
		border: 1px solid #c8e6c9;
    	border-radius: 5px;
	}

	.loading {
		border: 1px solid transparent;
    	border-radius: 5px;
	}

	.error {
		border: 1px solid #ef9a9a;
    	border-radius: 5px;
	}
}